<style>

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 60%, 97%);
    color: hsl(209, 18%, 30%);
    display: flex;
    justify-content: center;
    }


li {
    list-style-type: none;
    font-family: system-ui;
    }

 a {
     -webkit-animation:colorchange 20s infinite alternate;
    text-decoration: none;
    }
 @-webkit-keyframes colorchange {
            0% {

                color:#F48FB1;
            }

            10% {

                color:  #D2B4DE;
            }

            20% {

                color:#3F51B5;
            }

            30% {

                color:#85C1E9;
            }

            40% {

                color: #00796B;
            }
            
            50% {
            
                color: #82E0AA;
            }
            
            60% {
            
                color:#A2D9CE;
            }
            
            70% {
            
                color:#FFC107;
            }
            80% {
            
                color: #EDBB99;
            }
            
            90% {
            
                color: #D98880;
            }
            
            100% {
                color: #F76FC1;
            }
        }


</style>


 {% set articles = craft.entries.section('electronicaArticles').relatedTo(category) %}

    {% for article in articles %}
    <ul>
        <li><h1><a href="{{ article.getUrl() }}"> {{ article }}</a></h1></ul>
    </ul>
    {% endfor %}           
